body {
  font-family: sans-serif;
  background-color: darkgreen;
}

#playerName{
  text-align: center;
  background-color: white;
  padding: 20px;
  width: 30vw;
  margin: auto;
  margin-top: 30vh;
  border: 1px solid gray;
  box-shadow: 3px 3px 8px rgba(0,0,0,.5);
  border-radius: 5px;
}
